/.AreYouAwoken.java._trace
/.CreateLemmingsAgent.java._trace
/.IamAwoken.java._trace
/.StopSimulation.java._trace
/.Influence.java._trace
/.MAJTable.java._trace
/.MAJGrid.java._trace
/.StartSimulation.java._trace
/.PerceptionEvent.java._trace
/.GiveBody.java._trace
/.Perception.java._trace
/.WantPerception.java._trace
/.SetAttributeAgentEnvironment.java._trace
/.ResetAgentEnvironment.java._trace
/.ChangeLevel.java._trace
/.GrabageAgent.java._trace
/.StepByStepSimulation.java._trace
/.ManagerEvent.java._trace
/.Manager.java._trace
/.ResetGrid.java._trace
/.GarbageAgent.java._trace
